# Database
DB_NAME=vibe_music
DB_HOST=localhost
DB_PORT=3306
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_USERNAME=root
DB_PASSWORD=please_set_db_password

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail
MAIL_HOST=smtp.qq.com
MAIL_USERNAME=please_set_mail_username
MAIL_PASSWORD=please_set_mail_password

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=please_set_minio_access_key
MINIO_SECRET_KEY=please_set_minio_secret_key
MINIO_BUCKET=vibe-music-data
